:root{
    --bg-color : #D9D9D9;
    --black : #444444;
    --button : #8D8787;
    --text-color : #ffff;
}
html {
    font-size: 62.5%; /* 1rem = 10px, facilite les calculs (10px/16px = 62.5%) */
    scroll-behavior: smooth;
    block-size: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font: 1.6rem "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    scroll-behavior: smooth;
    color: var(--text-color);
}

ol, ul {
    list-style: none;
}

img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}